
.Home-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    
}

.home-content h1,p{
 margin: 1.2rem 0rem;
}
.home-content h1{
    line-height: 3rem;
   
    font-size: 2.2rem;
    color: var( --primary-text);
}
.home-content p{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-text);
}
.home-content button{
    width: 220px;
    height: 40px;
    color: white;
    background-color: #f36035;
    border: none;
    border-radius: 5px;
    letter-spacing: .3px;
    cursor: pointer;
}

.home-image img{
    width: 575px;
    height: 580px;
}

/* https://www.google.com/url?sa=i&url=https%3A%2F%2Fdribbble.com%2Fshots%2F4301537-Rodrigos-Loading-Animation&psig=AOvVaw0r5iVjX2btEqztYINCqNBF&ust=1668772441460000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCJCOofaTtfsCFQAAAAAdAAAAABAN */
/* https://i.pinimg.com/originals/c4/cb/9a/c4cb9abc7c69713e7e816e6a624ce7f8.gif */
/* https://www.google.com/url?sa=i&url=https%3A%2F%2Fdribbble.com%2Fshots%2F14475354-Foodie-Maryam-Loading-1&psig=AOvVaw0r5iVjX2btEqztYINCqNBF&ust=1668772441460000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCJCOofaTtfsCFQAAAAAdAAAAABAm */


.sm-img-head{
    display: flex;
    gap:2rem;
}

.home-sm-images{
width: 135px;
height: 135px;
border-radius: 5px;
margin: 1rem 0rem;
}
.carousel{
    height: 550px;
    
}




@media only screen and (max-width: 600px) {
    .Home-head{
        display: flex;
        flex-direction: column-reverse;
        gap:2rem;
        justify-content: space-around;
       
        
        
    }
    .home-image img{
        width: 350px;
        height: 350px;
        margin: 15rem 1rem 0rem 1rem;
    }
    .home-content h1,p{
        margin: 1.2rem 0rem;
        text-align: center;
       }
       .home-content h1{
           line-height: 2rem;          
           font-size: 1.8rem;
           color: var( --primary-text);
           
       }
       .home-content p{
           font-size: .8rem;
           font-weight: 500;
           color: var(--primary-text);
       }
       .home-content button{
        width: 220px;
        height: 40px;
        color: white;
        background-color: #f36035;
        border: none;
        border-radius: 5px;
        letter-spacing: .3px;
        cursor: pointer;
    }.home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }