/* //loading images */


/* https://www.google.com/url?sa=i&url=https%3A%2F%2Fdribbble.com%2Fshots%2F4301537-Rodrigos-Loading-Animation&psig=AOvVaw0r5iVjX2btEqztYINCqNBF&ust=1668772441460000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCJCOofaTtfsCFQAAAAAdAAAAABAN */
/* https://i.pinimg.com/originals/c4/cb/9a/c4cb9abc7c69713e7e816e6a624ce7f8.gif */
/* https://www.google.com/url?sa=i&url=https%3A%2F%2Fdribbble.com%2Fshots%2F14475354-Foodie-Maryam-Loading-1&psig=AOvVaw0r5iVjX2btEqztYINCqNBF&ust=1668772441460000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCJCOofaTtfsCFQAAAAAdAAAAABAm */



.carousel {
    height: 550px;

}

.home-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 6rem;
}

.home-head h1 {
    margin: 1rem 0rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-text);
}

.home-head p {
    font-size: 1rem;
    margin: .8rem 0rem;
    color: var(--primary-text);
}

.right-images {
    display: flex;
    gap: 2rem;
}


.card1,
.card2 {
    width: 300px;
    height: 530px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

    /* border: 1px solid black; */
    /* border-radius: 10px; */
}

.card1 img {
    width: 300px;
    height: 340px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.card2 img {
    width: 300px;
    height: 340px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.sm-details-1 {
    background-image: linear-gradient(to right top, #f4d0b2, #f5cead, #f6cca9, #f7c9a4, #f8c7a0, #f7c299, #f7be92, #f6b98b, #f3b180, #f1a975, #eea16b, #eb9960);
    width: 300px;
    height: 190px;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.sm-details-2 {
    background-image: linear-gradient(to right top, #f4d0b2, #f5cead, #f6cca9, #f7c9a4, #f8c7a0, #f7c299, #f7be92, #f6b98b, #f3b180, #f1a975, #eea16b, #eb9960);
    width: 300px;
    height: 190px;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.review {
    margin: 5rem 0rem;
    text-align: center;
}

.review h2 h4 {
    text-align: center;
    margin: 1.5rem 0rem;
}

.review h4 {
    font-family: 'Pacifico', cursive;
    color: #eb9960;
}

.review h2 {
    color: var(--primary-text);
}

.review-card-head {
    display: flex;
    gap: 1.5rem;
    margin: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.r-card-1 {
    width: 300px;
    height: 220px;
    padding: .5rem;
    /* border:1px solid black; */
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.r-card-1 img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.r-card-1 p {
    font-size: 0.8rem;
}

.r-card-1 h5 {
    color: var(--primary-text);
}

.p-w {
    width: 400px;
}

@media only screen and (max-width: 600px) {
    .home-head {
        display: flex;
        flex-direction: column;
        margin: 3rem;
        text-align: center;
        gap: 1rem;
    }

    .right-images {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media only screen and (max-width: 1020px) {
    .home-head {
        display: flex;
        flex-direction: column;
        margin: 3rem;
        text-align: center;
        gap: 2rem;
    }

}