.login-head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
   
}
.login{
    width: 400px;
    height: 420px;
    padding: 1rem;
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.para-login{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    cursor: pointer;
    color: dimgray;
    justify-content: center;
}

