.navbar-head{
    width: 100%;
    height:85px;
    
    color: #27324b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Righteous', cursive;
    
}
.navbar-head h2{
    margin: 0rem 2rem;
    font-size: 25px;

}

.navbar-head ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    margin: 0rem 2rem;
}
.navbar-head ul li{
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
.bar{
    display: none;
}


@media only screen and (max-width: 600px) {
    .navbar-head ul{
        display: none;
    }
    .bar{
        display: block;
        padding: 1rem;
        font-size: 1.3rem;
    }
  }